@charset "utf-8";

/*
*/

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
body {line-height:1;}
ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content:"";content:none;}
table {border-collapse:collapse;border-spacing:0;}
caption,legend {width:1px;height:1px;font-size:0;line-height:0;visibility:hidden;overflow:hidden;}
legend {position:absolute;}
a {color:#949494;text-decoration:none;}
a:active {color:#888;text-decoration:none;}
/* input */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {height:12px;padding:4px 0;font-size:1em;border:1px solid #bfbfbf;}
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus {border-color:#666;}
input[type="submit"],input[type="button"] {cursor:pointer;}
input[type="file"] {height:22px;padding:0;border:1px solid #d5d5d5;background-color:#fff;}
input[disabled] {background-color:#f9fbfa;}
textarea {padding:5px;line-height:130%;border:1px solid #bfbfbf;}
select {height:22px;font-size:1em;line-height:22px;}
@media all and (min-width:0) {
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:22px;padding:4px;}
input[type="file"] {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:24px;}
}
/* common */
.skip {position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;opacity:0;}
table thead.skip {position:static;margin:0;padding:0;height:0;font-size:0;line-height:0;border:0;visibility:hidden;overflow:hidden;}
table thead.skip th,table thead.skip td {margin:0;padding:0;height:0;font-size:0;line-height:0;border:0;visibility:hidden;overflow:hidden;}
hr {display:none;}
img {max-width:100%;}

.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
	content:'.';
	display:block;
	overflow:hidden;
	visibility:hidden;
	font-size:0;
	line-height:0;
	width:0;
	height:0
}
.clearfix:after, .container_24:after {
	clear:both
}
.clearfix, .container_24 {
	zoom:1
}




/* layout */
body#mobile {font-size:.8em;color:#111;background-color:#feef42; -webkit-text-size-adjust:none;text-size-adjust:none;}
footer#mobile {padding:20px 0; color:#666; text-align:left;}
footer#mobile p{color:#666;}
body.alert{
	background-color:#1ea1c5;
}
/* main */
#mobile #wrap {
padding:3%;
}

#mobile #wrap header{

}

#mobile #wrap header .title{
padding:0 ;
}
#mobile #wrap header .title .logo{
	text-align:right;
	padding-bottom:20px;
}
#mobile #wrap header .title .main_title{
	padding-bottom:10px;
	text-align:center;
}
#mobile #wrap header .title .sub_title{
	padding-bottom:10px;
	text-align:center;
}
#mobile #wrap #content {
color:#999999;
}

#mobile #wrap #content .count {
	font-weight:bold;
	color:#1ea1c5;
	padding:10px 0;
	margin-bottom:10px;
}
#mobile #wrap #content .count ul{
	width:300px;
	margin:0 auto;
}
#mobile #wrap #content .count ul li{
	float:left;
	display:block;
	color:#1ea1c5;
	text-align:center;
	margin:0 2px;
	font-size:22px;
	padding:5px 0 3px;
	line-height:25px;
}
#mobile #wrap #content .count ul li.num{
	background:#fff;
	width:31px;
}

#mobile #wrap #content .btn_block {
padding:10px 0 20px;
text-align:center;
margin:10px 0;

}
#mobile #wrap #content .btn_block p {
}
#mobile #wrap #content .btn_block p input{
	display:block;
	background:#1ea1c5;
  padding:10px 0;
  width:100%;

}
#mobile #wrap #content .btn_block p a{
	display:block;
	background:#1ea1c5;
	padding:10px 0;
  width:100%;

}

#mobile #wrap #content .text_block{
	padding:10px 10px 25px;
	color:#000;
	font-size:17px;
	line-height:24px;
}

#mobile #wrap #content .sub_btn_block div{
	display:block;
	float:left;
	width:50%;
}
#mobile #wrap #content .sub_btn_block a{
	display:block;
	padding:20px 0;
	text-align:center;
	height:20px;
	border:3px solid #1ea1c5;
}

#mobile #wrap #content .sub_btn_block div.first a{
	border-right:none;
}

#mobile #wrap #content .bottom_txt {
border:1px solid #404040;
border-right:none;
border-left:none;
padding:10px 0;
text-align:center;
}

footer{
	color:#666;
	background:#fef26a;
	margin:10px 0;
}
footer div{
	padding:5px 10px;
}
footer div p{
	line-height:16px;
}

#comment_popup{
  font-size:.8em;
  color:#111;
  background-color:#feef42; -webkit-text-size-adjust:none;text-size-adjust:none;}
#comment_popup #comment_header .btn_block{
	text-align:right;
  padding:0;
}
#comment_popup #comment_header .title{
	margin:10px 0;
}
#comment_popup #content .input{
	width:100%;
	height:70px;
	font-size:14px;
	line-height:18px;
	color:#666;
	border:none;
	box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;

}
#comment_popup #content .comment.btn_block{
	margin:0;
}
#comment_popup #content .btn_block.alert p a{
	display:block;
	background:#feef42;
	padding:10px 0;

}
#comment_popup #comment_header .title_alert{
	margin:10px 0;
	text-align:center;
}

#wall_post_text_area_input{
	width:100%;
	height:70px;
	font-size:14px;
	line-height:18px;
	color:#666;
	border:none;
	box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;

}
#comment_popup #content .count ul li.num{
	background:#fff;
	width:31px;
}

#comment_popup #content .btn_block {
padding:10px 0 20px;
text-align:center;
margin:10px 0;
}
#comment_popup #content .btn_block p {
}
#comment_popup #content .btn_block p input{
	display:block;
	background:#1ea1c5;
  width:100%;

}
#comment_popup #content .btn_block p a{
	display:block;
	background:#1ea1c5;
	padding:10px 0;
  width:100%;

}
#comment_popup{
  padding:1%;
}


#mobile_comment_invalid_popup{font-size:.8em;color:#111;-webkit-text-size-adjust:none;text-size-adjust:none;}
#mobile_comment_invalid_popup #comment_header .btn_block{
	text-align:right;
}
#mobile_comment_invalid_popup #comment_header .title{
	margin:10px 0;
}
#mobile_comment_invalid_popup #content .input{
	width:100%;
	height:70px;
	font-size:14px;
	line-height:18px;
	color:#666;
	border:none;
	box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;

}
#mobile_comment_invalid_popup #content .comment.btn_block{
	margin:0;
}
#mobile_comment_invalid_popup #content .btn_block.alert p a{
	display:block;
	background:#feef42;
	padding:10px 0;

}
#mobile_comment_invalid_popup #comment_header .title_alert{
	margin:10px 0;
	text-align:center;
}

#wall_post_text_area_input{
	width:100%;
	height:70px;
	font-size:14px;
	line-height:18px;
	color:#666;
	border:none;
	box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;

}
#mobile_comment_invalid_popup #content .count ul li.num{
	background:#fff;
	width:31px;
}

#mobile_comment_invalid_popup #content .btn_block {
padding:10px 0 20px;
text-align:center;
margin:10px 0;
}
#mobile_comment_invalid_popup #content .btn_block p {
}
#mobile_comment_invalid_popup #content .btn_block p input{
	display:block;
	background:#1ea1c5;
	padding:10px 0;
  width:100%;

}
#mobile_comment_invalid_popup #content .btn_block p a{
	display:block;
	background:#1ea1c5;
	padding:10px 0;
  width:100%;

}
#mobile_comment_invalid_popup{
  padding:3%;
}


#mobile_comment_complete_popup{
  padding:3%;
  padding-right:8%;
  padding-left:8%;
  font-size:.8em;
  color:#111; background-color:#1ea1c5; -webkit-text-size-adjust:none;text-size-adjust:none;
}
#mobile_comment_complete_popup #comment_header .btn_block{
	text-align:right;
}
#mobile_comment_complete_popup #comment_header .title{
	margin:10px 0;
}
#mobile_comment_complete_popup #content .input{
	width:100%;
	height:70px;
	font-size:14px;
	line-height:18px;
	color:#666;
	border:none;
	box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;

}
#mobile_comment_complete_popup #content .comment.btn_block{
	margin:0;
}
#mobile_comment_complete_popup #content .btn_block.alert p a{
	display:block;
	background:#feef42;
	padding:10px 0;

}
#mobile_comment_complete_popup #comment_header .title_alert{
	margin:10px 0;
	text-align:center;
}

#wall_post_text_area_input{
	width:100%;
	height:70px;
	font-size:14px;
	line-height:18px;
	color:#666;
	border:none;
	box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;

}
#mobile_comment_complete_popup #content .count ul li.num{
	background:#fff;
	width:31px;
}

#mobile_comment_complete_popup #content .btn_block {
padding:10px 0 20px;
text-align:center;
margin:10px 0;
}
#mobile_comment_complete_popup #content .btn_block p {
}
#mobile_comment_complete_popup #content .btn_block p input{
	display:block;
	background:#1ea1c5;
	padding:10px 0;
  width:100%;

}
#mobile_comment_complete_popup #content .btn_block p a{
	display:block;
	background:#1ea1c5;
	padding:10px 0;
  width:100%;

}

div.alert{
	background-color:#1ea1c5;
}

#mobile_need_like{
  #comment_header{
    padding-bottom: 20px;
  }
  padding:30px;
  background-color:#feef42; -webkit-text-size-adjust:none;text-size-adjust:none;
  .like_page{
   text-align:center;
   margin-padding: 20px;
   .hero_image{
     padding-top: 20px;
   }
  }
}

div.like_button{
//  text-align: right;
//  padding-right: 15%;
  iframe{
  transform: scale(1.5);
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  -o-transform: scale(1.5); 
  -moz-transform: scale(1.5); 
  transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  }
}

div#mobile_need_like div.btn_like{
  transform: scale(2);                 
  -moz-transform: scale(2);        /* firefox 용 */ 
  -webkit-transform: scale(2);     /* webkit 브라우저 */ 
  -o-transform: scale(2);            /* opera용 */ 
  -ms-transform: scale(2);          /* IE용 */ 
}

div#mobile_need_like div.btn_block{
  padding: 0;
  padding-bottom: 20px;
	text-align:right;
}


#mobile_need_like{ display:none; }
#mobile_comment_complete_popup{ display:none; }
#mobile_comment_invalid_popup{ display:none; }
#comment_popup{ display:none; }