<%= content_for :mobile do %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<% end %>
<div style="text-align: center;">
  <%= image_tag("relay_mobile.jpg", border: "0", width: "320px", usemap: "#Map") %>
  <map name="Map" id="Map">
    <map name="Map">
			<!--09 션-->
      <area shape="rect" coords="52,210,269,417" href="https://www.facebook.com/miraclehospital/posts/767908136554954?stream_ref=10" target="_blank">
      <!--08 이지선-->			
			<area shape="rect" coords="8,424,152,565" href="https://www.facebook.com/photo.php?fbid=753599157985852" target="_blank">
			<!-- 07 클라라-->
      <area shape="rect" coords="172,495,309,634" href="https://www.facebook.com/photo.php?fbid=743175675694867" target="_blank">
      <!-- 06 송소희-->
      <area shape="rect" coords="170,647,313,786" href="https://www.facebook.com/photo.php?fbid=728859243793177" target="_blank">
      <!-- 05 걸스데이민아-->
      <area shape="rect" coords="7,574,152,713" href="https://www.facebook.com/photo.php?fbid=725282034150898" target="_blank">
      <!-- 04 걸스데이 누구-->
      <area shape="rect" coords="8,719,154,864" href="https://www.facebook.com/photo.php?fbid=725281437484291" target="_blank">
      <!-- 03 걸스데이 누구-->
      <area shape="rect" coords="169,795,314,939" href="https://www.facebook.com/photo.php?fbid=725280884151013" target="_blank">
      <!-- 02 걸스데이 혜리-->
      <area shape="rect" coords="8,868,152,1014" href="https://www.facebook.com/photo.php?fbid=721728197839615" target="_blank">
      <!-- 01 민국부자-->
      <area shape="rect" coords="169,944,316,1090" href="https://www.facebook.com/photo.php?fbid=719227594756342" target="_blank">
    </map>
    
    <!-- <area shape="rect" coords="55,211,265,414" target="_blank" 
      href="https://www.facebook.com/photo.php?fbid=743175675694867">
    <area alt="06 송소희" shape="rect" coords="7,499,152,638" target="_blank" 
      href="https://www.facebook.com/photo.php?fbid=728859243793177">
    <area alt="05 민아" shape="rect" coords="170,572,313,711" target="_blank" 
      href="https://www.facebook.com/photo.php?fbid=725282034150898">
    <area alt="04 걸스데이" shape="rect" coords="7,645,153,790" target="_blank" 
      href="https://www.facebook.com/photo.php?fbid=725281437484291">
    <area alt="03 걸스데이" shape="rect" coords="168,721,313,865" target="_blank" 
      href="https://www.facebook.com/photo.php?fbid=725280884151013">
    <area alt="02 송소희" shape="rect" coords="6,796,150,942" 
      href="https://www.facebook.com/photo.php?fbid=721728197839615">
    <area alt="01 민국부자" shape="rect" coords="167,872,314,1018" target="_blank" 
      href="https://www.facebook.com/photo.php?fbid=719227594756342"> -->
  </map>
</div>

