<%= content_for :mobile do %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<% end %>

<div style="text-align: center;">
  <%= image_tag("relay_mobile.jpg", border: "0", width: "320px", usemap: "#Map") %>
  <map name="Map" id="Map">
    <area shape="rect" coords="6,198,154,345" href="https://www.facebook.com/photo.php?fbid=719227594756342&set=a.687664707912631.1073741828.678256455520123&type=1&theater" target="_blank" />
    <area shape="rect" coords="170,272,312,415" href="https://www.facebook.com/photo.php?fbid=721728197839615&set=a.687664707912631.1073741828.678256455520123&type=1&theater" target="_blank" />
    <!--mobile 03-->
      <area shape="rect" coords="6,350,151,491" href="https://www.facebook.com/photo.php?fbid=725280884151013&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank">
      <!--mobile 04-->
      <area shape="rect" coords="171,421,312,566" href="https://www.facebook.com/photo.php?fbid=725281437484291&set=a.687664707912631.1073741828.678256455520123&type=1&theater"  target="_blank">
       <!--mobile 05-->
      <area shape="rect" coords="8,499,151,640" href="https://www.facebook.com/photo.php?fbid=725282034150898&set=a.687664707912631.1073741828.678256455520123&type=1&theater" target="_blank">
      <!--mobile 06--> 
      <area shape="rect" coords="170,572,312,717" href="https://www.facebook.com/photo.php?fbid=728859243793177&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank">
  </map>
</div>