<%= content_for :mobile do %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<% end %>
<div>
  <%= link_to image_tag("relay.jpg", border: "0"), "https://www.facebook.com/photo.php?fbid=719227594756342&set=a.687664707912631.1073741828.678256455520123&type=1&theater" %>
</div>