<div style="width:810px;">
  <%= image_tag("relay.jpg", width: "809px", border: "0", usemap:"#Map") %>
  <map name="Map" id="Map">
    <area shape="rect" coords="191,337,620,743" href="https://www.facebook.com/miraclehospital/posts/767908136554954?stream_ref=10" target="_blank"/>
		<!--08 이지선 -->
		<area shape="rect" coords="59,806,384,1127" href="https://www.facebook.com/photo.php?fbid=753599157985852" target="_blank"/>
    <!--07 클라라 -->
    <area shape="rect" coords="427,933,747,1255" href="https://www.facebook.com/photo.php?fbid=743175675694867" target="_blank" />
    <!--06 송소희 -->
    <area shape="rect" coords="55,1140,384,1467" href="https://www.facebook.com/photo.php?fbid=728859243793177" target="_blank" />
    <!--05 걸스데이 민아 -->
    <area shape="rect" coords="427,1283,753,1609" href="https://www.facebook.com/photo.php?fbid=725282034150898&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank" />
    <!--04 네번째 걸스데이 누구 -->
    <area shape="rect" coords="54,1489,383,1812" href="https://www.facebook.com/photo.php?fbid=725281437484291&set=a.687664707912631.1073741828.678256455520123&type=1"  target="_blank"  />
    <!--03 걸스데이 누구 -->
    <area shape="rect" coords="425,1632,753,1957" href="https://www.facebook.com/photo.php?fbid=725280884151013&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank"  />
    <!--02 걸스데이 혜리 -->
    <area shape="rect" coords="55,1842,384,2167" href="https://www.facebook.com/photo.php?fbid=721728197839615&set=a.687664707912631.1073741828.678256455520123&type=1"  target="_blank" />
    <!--01 민국부자 -->
    <area shape="rect" coords="429,1979,761,2309" href="https://www.facebook.com/photo.php?fbid=719227594756342&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank"  />
  </map></div>