<div style="width:810px;">
  <%= image_tag("relay.jpg", width: "809px", border: "0", usemap:"#Map", style: "max-width: 99%") %>
<map name="Map" id="Map">
  <!-- 01 map -->
  <area shape="rect" coords="53,325,383,651" href="https://www.facebook.com/photo.php?fbid=719227594756342&set=a.687664707912631.1073741828.678256455520123&type=1&theater" target="_blank"/>
  <area shape="rect" coords="428,516,754,836" href="https://www.facebook.com/photo.php?fbid=721728197839615&set=a.687664707912631.1073741828.678256455520123&type=1&theater" target="_blank"/>
  <!--pc 03-->
    <area shape="rect" coords="56,684,380,1004" href="https://www.facebook.com/photo.php?fbid=725280884151013&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank"/>
    <!--pc 04-->
    <area shape="rect" coords="429,854,755,1179" href="https://www.facebook.com/photo.php?fbid=725281437484291&set=a.687664707912631.1073741828.678256455520123&type=1&theater" target="_blank"/>
    <!--pc 05-->
    <area shape="rect" coords="55,1023,385,1345" href="https://www.facebook.com/photo.php?fbid=725282034150898&set=a.687664707912631.1073741828.678256455520123&type=1&theater" target="_blank"/>
    <!--pc 06-->
    <area shape="rect" coords="428,1194,755,1513" href="https://www.facebook.com/photo.php?fbid=726869350658833&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank"/>
</map>
</div>