<div style="width:810px;">
  <%= image_tag("relay.jpg", width: "809px", height: "1719px", border: "0", usemap:"#Map", style: "max-width: 99%") %>
<map name="Map" id="Map">
  <!-- 01 map -->
  <area shape="rect" coords="428,516,754,836" href="https://www.facebook.com/photo.php?fbid=719227594756342&set=a.687664707912631.1073741828.678256455520123&type=1&theater" target="_blank"/>
</map>
</div>