<%= content_for :page_tab do %>
  FB.Canvas.setSize();
  FB.Canvas.setAutoGrow();
<% end %>
<div style="width:810px;">
  <%= image_tag("relay.jpg", width: "809px", border: "0", usemap:"#Map") %>
  <map name="Map" id="Map">
    <!--07-->
    <area shape="rect" coords="192,336,617,742" />
    <!--06 송소희 -->
    <area shape="rect" coords="55,976,384,1303" href="https://www.facebook.com/photo.php?fbid=728859243793177&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank" />
    <!--05 걸스데이 민아 -->
    <area shape="rect" coords="424,1117,750,1443" href="https://www.facebook.com/photo.php?fbid=725282034150898&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank" />
    <!--04 걸스데이 누구 -->
    <area shape="rect" coords="55,1325,384,1648" href="https://www.facebook.com/photo.php?fbid=725281437484291&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank" />
    <!--03 걸스데이 누구 -->
    <area shape="rect" coords="423,1464,751,1789" href="https://www.facebook.com/photo.php?fbid=725280884151013&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank" />
    <!--02 걸스데이 혜리 -->
    <area shape="rect" coords="56,1674,385,1999" href="https://www.facebook.com/photo.php?fbid=721728197839615&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank" />
    <!--01 민국부자 -->
    <area shape="rect" coords="422,1812,754,2142" href="https://www.facebook.com/photo.php?fbid=719227594756342&set=a.687664707912631.1073741828.678256455520123&type=1" target="_blank" />
  </map>
</div>