<h1>사용 현황</h1>

<div>
<h2>전체 댓글 수</h2>
<p><%= @total_wall_posts_count %> 건</p>
</div>

<div>
<h2>전체 참여자 수(중복 제거)</h2>
<p><%= @heroes_count %> 명</p>
</div>

<div>
<h2>좋아요</h2>
<p><%= @total_wall_posts_count %> 건</p>
</div>
