<div style="width:810px;">
  <%= image_tag "relay.jpg", width: "809px", height: "1719px", border: 0, usemap: "#Map"%>
<map name="Map" id="Map">
  <!-- 01 map -->
  <area shape="rect" coords="53,325,383,651" href="#" />
</map>
</div>