


<div id="wrap">
  <div class="like_button">
    <fb:like href="https://www.facebook.com/miraclehospital" colorscheme="light" layout="button_count" action="like" show_faces="false" send="false"></fb:like>
  </div>
  
  <section id="content">
    <div class="btn_block">
      <%= image_tag "m/mobile_characters.jpg", width: "100%" %>
    </div>
  </section>
</div>